#menu-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2rem;
  padding: 2rem 1rem;
}

.category-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2rem;
  padding: 2rem 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  color: #dbc1c1;
}

.dish-card {
  height: auto;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  color: #c0aa9a;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}


/* Gradients from your JSON */
.gradient-coffee-sunset {
  background: linear-gradient(to right, #3c2a21, #b08968);
}

.gradient-morning-toast {
  background: linear-gradient(to right, #fcd5ce, #faedcd);
}

.gradient-panini-press {
  background: linear-gradient(to right, #d4a373, #6c584c);
}

.gradient-garden-breeze {
  background: linear-gradient(to right, #a3b18a, #dad7cd);
}

.gradient-sugar-dream {
  background: linear-gradient(to right, #f8edeb, #fcd5ce);
}

.dish-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.dish-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  color: #ffff
}

.dish-card h2 {
  font-size: 1rem;
}
.price {
  font-weight: 500;
  color: var(--accent);
  margin: 0.25rem 0;
}

.order-btn {
  align-self: start;
  background-color: #d0985d;
  color: #1a1a1a;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.6rem;
}

.order-btn:hover {
  background-color: #e3c7b8;
}

#tagFilters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.tag-button {
  background: #e0d6cf;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  gap: 1.5rem;
  margin: 10px; 
  align-content: center;
}

.tag-button:hover {
  background: #5f4638;
  color: white;
}
.tag-button.active { 
  background:#795548; 
  color: white; 
}

/* Coffee */
.category-coffee {
  background: linear-gradient(to right, #d07b54, #f1d9c5); /* gradient-coffee-sunset */
  box-shadow: 0 0 10px rgba(60, 42, 33, 0.3);
}

/* Brunch */
.category-breakfast {
  background: linear-gradient(to right, #d1d0b2, #faedcd); /* gradient-morning-toast */
  box-shadow: 0 0 10px rgba(252, 213, 206, 0.3);
}

/* Panini */
.category-sandwiches {
  background: linear-gradient(to right, #d09985, #cdb5a7); /* gradient-panini-press */
  box-shadow: 0 0 10px rgba(212, 163, 115, 0.3);
}

/* Garden */
.category-salads {
  background: linear-gradient(to right, #a3b18a, #dad7cd); /* gradient-garden-breeze */
  box-shadow: 0 0 10px rgba(163, 177, 138, 0.3);
}

/* Sweet */
.category-pastries {
  background: linear-gradient(to right, #c6dad1, #f6d6d0); /* gradient-sugar-dream */
  box-shadow: 0 0 10px rgba(248, 237, 235, 0.3);
}
.category-unknown {
  background: rgba(200, 200, 200, 0.2);
  border-left: 4px solid #ccc;
}
.dish-card.category-breakfast p, .dish-card.category-breakfast h3{
    color:#173856;
}
.dish-card.category-pastries p, .dish-card.category-pastries h3 {
  color:#655d17
}
