body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  min-height: 100vh;
  color: #c0aa9a;
}

.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../backgroundbody.png');
  background-size: cover;
  background-position: center;
  filter: blur(4px) brightness(0.9);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: #c0aa9a;
  font-family: 'Inter', sans-serif;
}

.top-nav a {
  text-decoration: none;
  color: #3d1102;
  background: #ece6d7;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  gap: 1.5rem;
  margin: auto; 
  align-content: center;
}

.top-nav a:hover {
  background: #5f4638;
  color: white;
}
